<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa sách</title>
</head>
<body>
<h1>Sửa sách</h1>
<form th:action="@{/books/edit}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Tiêu đề:</label>
    <input type="text" th:field="*{title}" />
    <br><br>
    <label>Tác giả:</label>
    <input type="text" th:field="*{author}" />
    <br><br>
    <button type="submit">Cập nhật</button>
</form>
</body>
</html>